.post {
  padding: 0 0 20px 0;
  font-size: 13px;

  /* fix post too small for image */
  overflow: hidden;
}

/* media must be the same height and width for board view, or the infinite scroll bugs out */
.mediaWrapper {
  overflow: hidden;
  width: 180px;
  height: 180px;
  background-color: var(--dark1);
  float: left;
  margin: 0 14px 0 0;
  text-align: right;
}

.media {
  height: 180px;
}

.title {
  font-weight: bold;
  color: var(--light1);
}

.textWrapper {
  padding: 0 14px 0 14px;
}

.reply {
  background-color: var(--dark2);
  padding: 14px;
  margin: 4px;
}
