.menu {
  color: var(--light2);
  background-color: var(--dark1);
  font-size: 12px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* menus are buttons so it's annoying to select them by accident */
  user-select: none;
}

.leftMenu {
  text-align: left;
}

.rightMenu {
  text-align: right;
}

.menuItem {
  /* make menu cursors like links */
  cursor: pointer;
}

select.sortType, select.feedName {
  background-color: var(--dark1);
  color: var(--light2);
  text-align: left;

  /* fix borders */
  outline: unset;
  /*  border: unset;*/
  /* compensate for the select border */
  margin: -1px 0 0 0;
  /* border width is not 1px in firefox */
  border-width: 1px;

  /* remove icon */
  appearance: unset;

  /* firefox adds padding */
  padding: 0;

  /* firefox messes the font */
  font-family: verdana, arial, helvetica, sans-serif;

  /* must specify font size of select again for some reason */
  font-size: 12px;
}

.sortType option, .feedName option {
  color: var(--light2);
}
