.menu {
  color: var(--light2);
  background-color: var(--dark1);
  text-align: right;
}

.menu, .menu select {
  font-size: 12px;
}

.menu select {
  background-color: var(--dark1);
  color: var(--light2);

  /* looks better because the form is first on the left */
  text-align: right;

  /* fix borders */
  outline: unset;
  border: unset;

  /* remove icon */
  appearance: unset;

  /* firefox adds padding */
  padding: 0;

  /* firefox messes the font */
  font-family: verdana, arial, helvetica, sans-serif;
}

.menu option {
  color: var(--light2);
}