.accountMenu {
  text-align: left;

  /* container */
  padding: 0 2px;
  background-color: var(--dark1);
}

.modal {
  /* needs z index to be above virtuoso */
  z-index: 1;

  /* remove outline when selected */
  outline: unset;
}

.menuItem {
  padding: 0 0 2px 0;
  /* make menu cursors like links */
  cursor: pointer;
}

.version {
  position: absolute;
  /* imitate the 2px side and bottom padding of menu */
  right: 2px;
  bottom: 2px;
  font-size: 10px;
  color: var(--dark3);
}
