.modal {
  /* needs z index to be above virtuoso */
  z-index: 1;

  /* remove outline when selected */
  outline: unset;
}

.submit {
  text-align: left;
  padding: 0 2px;
  width: 480px;
  /* cancel the modal 2px sides padding */
  max-width: calc(100vw - 4px);
  max-height: 50vh;
}

.submit, .submit button, .submit input .submit textarea {
  font-size: 13px;
  background-color: var(--dark1);
  color: var(--light2);
}

.submitButtonWrapper {
  text-align: right;
}

.submitSelect {

}

.submitTitle, .submitContent, .submitSelect {
  width: 100%;

  /* cancel padding and border spacing */
  padding-top: 0;
  padding-top-bottom: 0;
  box-sizing: border-box;
  background-color: var(--dark1);
  color: var(--light2);
}
