.app {
  /* text */
  color: var(--light2);
  font-size: 10px;
  font-family: verdana, arial, helvetica, sans-serif;

  /* container */
  padding: 0 2px;
  background-color: var(--dark1);

  /* fix scrolling glitch */
  overflow-y: hidden;

  /* even if app is empty, fill to bottom */
  min-height: 100vh;
}
